# variable

- these are used to stored the values and the values can be changed

In [9]:
number=100 # valie 100 stored in a variaable name called 'number'
number

100

In [10]:
number=200 # value 200 stored in a variable name called 'number'
number

200

**note**

- python is step by step process

- python will take last output as the latest value

- in above code are susing variable : number

- but number value changed two times

- first time 100

- second time 200

- latest value 200

In [12]:
number=200
number

200

In [14]:
number, number

(200, 200)

In [28]:
number123=400
number123

400

In [16]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

In [29]:
if 
while
else
elif
for 
True
False

SyntaxError: invalid syntax (3840727876.py, line 1)

In [17]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1823274275.py, line 1)

In [18]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [19]:
number_one=200
number_one

200

In [20]:
_=1000
_

1000

In [21]:
n1=100,200
n1

(100, 200)

In [24]:
n2,n3=200

n2

TypeError: cannot unpack non-iterable int object

In [25]:
n1,n2=200,400
print(n1,n2)

200 400

In [26]:
num=200 #w
NUM=300 #w
NUm=400 #w
num123=500 #w
123num=600 #F
n%m=700

SyntaxError: invalid decimal literal (2958435304.py, line 5)

In [27]:
n1,_=200,300

### important points in variables

- python variables are case sensitives

- variables can be declared as captial letters and small letters.

- variables cannot start with numbers 

- numbers can be suffix of the variables

- variables can not have special characters expect **underscore**

- variables does not have space between the names

- only underscore is possible

- keyords or reserved words can not use as variables

- two values can be assign to a single variable

- one value can not assign to a single variable

**internshala**