# print statements

In [2]:
print(10)

10

In [3]:
print('python')

python

In [4]:
print(10,30,40)

10 30 40

In [5]:
print(10,10.5,'naresh',True)

10 10.5 naresh True

In [6]:
a=10
b=20
print(a,b)

10 20

In [7]:
print(10),print(20)

10
20

(None, None)

In [8]:
print(10,10,10)
print(10),print(10),print(10)

10 10 10
10
10
10

(None, None, None)

In [13]:
a=100
b=200
c=a+b
print('the addition of',a,'ammd',b,' is' ,c)
# the addition of 10 ammd 20 is 30

the addition of 100 ammd 200  is 300

In [14]:
print('the addition of {} ammd {}  is {}'.format(a,b,c))

the addition of 100 ammd 200  is 300

In [17]:
name='viswasreddy'
age=21
place='hyderabad'
print('my name is {} and, iam {} years old and im from {}'.format(name,age,place))

my name is viswasreddy and, iam 21 years old and im from hyderabad

In [19]:
employe_name='viswasreddy'
employe_disgnation='data analyst'
employe_company='google'
print('my name is {} and iam an {} and i will working in {} company'.format(employe_name,employe_disgnation,employe_company))

my name is viswasreddy and iam an data analyst and i will working in google company

In [24]:
# f string method
a=100
b=200
c=a+b
print('the addition of',a,'ammd',b,' is' ,c)
print(f'the addition of {a} ammd {b}  is {c}')

the addition of 100 ammd 200  is 300
the addition of 100 ammd 200  is 300